<!-- <h1 class="main-title" >Create a Test Center profile!</h1><br>
<div class=page-content>
  <h2 class="main-title" >Please enter the details below</h2><br>
  <b>Test Center Name: </b><input class="entryfield-input" type="text" placeholder="Enter the Test Centre name here..."><br><br><br><br>
  <button mat-raised-button class ="create-btn">Create</button><br><br><br><br>
  <a routerLink="/manager-home"><button mat-raised-button class="manager-home-btn">Back to Manager Home</button></a>
  <router-outlet></router-outlet>
</div> -->
<mat-card>
  <h1 class="main-title" >Create a Test Center profile!</h1>
  <form (submit) = "onCreateProfile(createProfileForm)" #createProfileForm = "ngForm">
    <div class=page-content>
      <mat-form-field>
        <input
          matInput
          name="testCentreNameInput"
          type="text"
          placeholder="Enter test centre name here..."
          ngModel
          minlength="3"
          #testCentreNameInput="ngModel"
          required><br><br>
          <mat-error *ngIf="testCentreNameInput.invalid">Please enter a valid name</mat-error>
      </mat-form-field>

      <button
    mat-raised-button
    class="create-btn"
    type="submit">Create</button>
    </div>
  </form>
</mat-card>
