<h1 class="main-title" >Create a Test Center profile!</h1><br>
<div class=page-content>
  <h2 class="main-title" >Please enter the details below</h2><br>
  <b>Test Center Name: </b><input class="entryfield-input" type="text" placeholder="Enter the Test Centre name here..."><br><br><br><br>
  <button mat-raised-button class ="create-btn">Create</button><br><br><br><br>
  <a routerLink="/manager-home"><button mat-raised-button class="manager-home-btn">Back to Manager Home</button></a><br><br>
  <a routerLink="/login"><button mat-raised-button class="logout-btn">Logout</button></a>
  <router-outlet></router-outlet>
</div>
