<app-header></app-header>
<div class="toolbar">
  <main>
    <button mat-raised-button class="toolbar-btn">Test Center Manager</button>
    <button mat-raised-button class="toolbar-btn">Tester</button>
    <button mat-raised-button class="toolbar-btn">Patient</button>
  </main>
</div>
<h1 class="main-title">Welcome to Covid Testing Information System (CTIS)!</h1>
<div class=login-content>
  <h2 class="main-title">Login</h2><br>
  <b>Username: </b><input class="login-input" type="text"><br><br>
  <b>Password: </b><input class="login-input" type="password"><br><br>
  <button mat-stroked-button class="toolbar-btn"> Log In </button>
</div>
