<h1 class="main-title" >Record a Test Center Officer profile!</h1><br>
<div class=page-content>
  <h2 class="main-title" >Please enter the details below</h2><br>
  <b>Test Kit name: </b><input class="entryfield-input" type="text" placeholder="Enter the Test Officer username here..."><br><br>
  <b>Stock: </b><input class="stock-entryfield-input" type="text" placeholder="Enter amount here..."><br><br>
  <button mat-raised-button class ="create-btn">Register Test Kit</button><br><br><br><br>
  <a routerLink="/manager-home"><button mat-raised-button class="manager-home-btn">Back to Manager Home</button></a>
  <router-outlet></router-outlet>
</div>
