<h1 class="main-title">Are you recording a new test for a new patient or an existing one?</h1>
<div class="page-content">
  <button mat-raised-button class="select-btn">New patient</button><br><br>
  <h2 class="main-title">Existing patient</h2>
  <h3 class="main-title">Enter patient ID: </h3>
  <input type="text" class="id-input" placeholder="Copy patient ID and paste it here">
  <a routerLink="/update-test-result"><button mat-raised-button class="select-btn">Select the patient</button></a>
  <h2 class="main-title"></h2>
</div>
