<h1 class="main-title" >Select the test result you wish to update</h1><br>
<div class=enter-test-id-page-content>
  <h2 class="main-title" >Enter test ID:</h2>
  <input type="text" class="id-input" placeholder="Type test ID here...">
  <button mat-raised-button class="search-btn">Search</button><br><br>

  <table class="test-id-list">
    <tr>
      <th>Y</th>
      <th>Y</th>
      <th>Y</th>
    </tr>
    <tr>
      <td>Y</td>
      <td>Y</td>
      <td>Y</td>
    </tr>
  </table><br>
  <button mat-raised-button class="select-btn">Select test</button>
</div>
<div class="page-footer">
  <a routerLink="/tester-home"><button mat-raised-button class="back-btn">Back to tester home</button></a>
</div>
